

.getwelcome {
    position: absolute;
    color: rgb(255, 255, 255);
    margin-top: -170px; /* Adjust as needed */
    transition: margin-top 0.5s ease;
}
.getwelcome:hover {
    margin-top: -200px;
}
.getwelcome.scroll {
    margin-top: -200px; /* Adjust as needed */
}
.selectoptions {
    position: absolute;
    color: rgb(255, 255, 255);
    margin-top: 150px; /* Adjust as needed */
    margin-left:430px;
}
.downpart{
    background-color: rgb(2, 2, 2);
    height:100vh;
}

.Dropdown {
    position: absolute;
    margin-top: 180px; /* Adjust as needed */
   margin-left:460px;
}

.flower_vid {
    width: 100%; 
    height:600px;
    /* Adjust as needed */
    position:static;
}
.users{
    position: absolute;
    margin-top:130px;
    margin-left:1000px;
    font-weight:bolder;
    color:white;
}
.user_profiles{
    position: absolute;
    margin-top: 100px;
    margin-left:1100px;
    margin-right:20px;
    height:70px;
    width:70px;
}
